#members thead tr th
{
	padding: 2px;
	margin: 2px;
	border-style: none;
}
#members tbody tr td
{
	border-style: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
}


.mimeico {
	margin-top:3px;
}

.std1 {
text-align: center;
}




#downloads thead tr th.inf1 {
width:100%;
}

#downloads tbody tr td.inf1 {
width:100%;
vertical-align:middle;
}

#downloads thead tr th.inf2 {
text-align:center;
}


#downloads tbody tr td.inf2 {
text-align:center;
}

#downloads tbody tr td.bthumb {
text-align:center;
}











.sizebtn {
	margin-top:3px;
	margin-left:3px;
	float:right;
}


#tresults thead tr th {padding:5px 0;}

#tresults thead tr th #browsec1 {padding:0}
#tresults thead tr th #browsec1 a.assetlink {
background:#ccc;
padding:2px 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
 border-radius: 5px;
}


#tresults thead tr th #browsec2 {padding:0 0 5px 0}
#tresults thead tr th #browsec2 a.assetlink {
background:#999;
padding:2px 4px;
 -moz-border-radius: 7px;
 -webkit-border-radius: 7px;
 -khtml-border-radius: 7px;
 border-radius: 7px;
}

#thl_3 .item_thl {
position:relative;
margin:0 10px 10px 0;
float:left;
clear:right;
width:110px;
height:160px;
overflow:hidden;

}

#thl_4 .item_thl {
position:relative;
margin:0 10px 10px 0;
float:left;
clear:right;
width:200px;
height:280px;
overflow:hidden;
}


.item_thl a img {padding:0; margin:0;}
#thl_3 .item_thl img.folderico {position:absolute; top:130px; right:2px;}
#thl_4 .item_thl img.folderico {position:absolute; top:230px; right:2px;}

div.spacer {clear: both; height: 0; font-size:0}



img.smallimg1 {
	height: 52px;
}
img.smallimg2 {
	/*height: 26px;*/
}