#tresults thead tr th 
{
	padding: 0px;
	margin: 0px;	
	border-style: none;
}
#tresults tbody tr td 
{ 
	border-style: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
}
.sizebtn {
	margin-top:3px;
	margin-left:3px;
	float:right; 
}

#sizebtns{
	margin-right:2px;
	float:right; 
}
#order2d{
	margin-right:3px;
	float:right; 
}
#order2d select {
	font-size:76%;
	min-width: 10px;
	margin-top:0px;
	margin-bottom:2px;
}

#select_lang {
	min-width: 10px;
	font-size:90%;
}


#select_idos {
	min-width: 10px;
	font-size:90%;
}
#selects tr td {
	background-color: white;
}
.tefxi {
	float:right; 
	width:96px;
	margin:0px;
	padding:0px;
}

.subjectTitle {
	font-size:110%;
	font-weight:bold;
}
.subjects {
	margin:0px;
	padding: 0px;
}
.rescnt{
	margin:0px;
	padding: 0px;
}
#browsec1{
	font-size:108%;
	/*background-color: #858585;*/
	padding: 0px;
	margin-top:5px;
	margin-left:6px;
	float:left;
}
#browsec2{
	font-size:100%;
	padding: 0px;
	margin: 4px 0px 0px 6px;/*t.r.b.l*/
	float:left;
}

.mimeico {
	margin-top:3px;
}

.std1 {
text-align: center;
}
/*
#browsec {
color: #FFFFCC;
}
#browsec  a:link {
color: #3399CC;
}
#browsec a:visited {
color: #3399CC;
}
#browsec a:hover {
color: #CCCCCC;
background-color: #333333;
text-decoration: none;
}
#browsec a:active {
color: #333333;
}
border:1px solid #D8D8D8;
border:1px solid #D8D8D8;

*/

#tresults thead tr th {padding:5px 0;}

#tresults thead tr th #browsec1 {padding:0}
#tresults thead tr th #browsec1 a.assetlink {
background:#ccc;
padding:2px 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
 border-radius: 5px;
}


#tresults thead tr th #browsec2 {padding:0 0 5px 0}
#tresults thead tr th #browsec2 a.assetlink {
background:#ccc;
padding:2px 4px;
 -moz-border-radius: 7px;
 -webkit-border-radius: 7px;
 -khtml-border-radius: 7px;
 border-radius: 7px;
}

#thl_3 .item_thl {
position:relative;
margin:0 10px 10px 0;
float:left;
clear:right;
width:110px;
height:160px;
overflow:hidden;

}

#thl_4 .item_thl {
position:relative;
margin:0 10px 10px 0;
float:left;
clear:right;
width:200px;
height:280px;
overflow:hidden;
}


.item_thl a img {padding:0; margin:0;}
#thl_3 .item_thl img.folderico {position:absolute; top:130px; right:2px;}
#thl_4 .item_thl img.folderico {position:absolute; top:230px; right:2px;}

div.spacer {clear: both; height: 0; font-size:0}

