#input_ea_subtitle { display:none;	}
#issue { display:none;	}
#website { display:none;	}
#authors { display:none;	}
#date_org_issued { display:none;	}
#urls1 { display:none;	}
#url-origin { display:none;	}
#ext-comments { display:none;	}
#b_dc_isbn { display:none;	}
#b_dc_issn { display:none;	}
#input_dc_publischer { display:none;	}
#titles_uniform { display:none;	}
#input_ea_publication_place { display:none;	}
#dates_start_end { display:none; }
/* website */
#input_ea_date_captured { display:none; }
#input_ea_website_url { display:none; }
#input_ea_website_url_base { display:none; }
/*esoterika */
#int-comments { display:none;	}
#input_ea_collection_name { display:none;	}
#input_ea_collection_place { display:none;	}
#source-data { display:none;	}

















