html,
body {
  font-size: 14px;
}
h1.page-header {
  font-size: 3rem;
}
.content h3 {
  font-size: 2rem;
}
.block h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  padding: 0rem 0.54rem 1.3rem 0.54rem;
  margin: 1.3rem 0.54rem 1.3rem 0rem;
}
aside .block h2 {
  font-size: 2rem;
  border-bottom: 1px solid #D3D7D9;
  padding: 0rem 0.54rem 0.65rem 0.54rem;
  margin: 1.3rem 0.54rem 1.3rem 0rem;
}
.node-teaser {
  padding: 0rem 0.54rem 0rem 0.54rem;
  margin: 1.3rem 0.54rem 2.6rem 0.54rem;
  border-radius: 6px;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0 8px 6px -6px #D3D7D9;
  -moz-box-shadow: 0 8px 6px -6px #D3D7D9;
  box-shadow: 0 8px 6px -6px #D3D7D9;
}
.node-sticky {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.024);
  border: 1px solid #D3D7D9;
  padding: 1.3rem 1.08rem 2.6rem 1.08rem;
  margin: 0rem 0.54rem 2.6rem 0.54rem;
}
.node-teaser h2 {
  font-size: 1.8rem;
  padding: 0rem 0rem 1.3rem 0rem;
  margin: 0rem 0rem 1.3rem 0rem;
}
.node-teaser .submitted {
  text-align: left;
  font-size: 1.3rem;
  padding: 0rem 0rem 1.3rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}
.node-teaser .content {
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}
.field-tags {
  float: left;
  padding: 1.3rem 0rem 0rem 0rem;
  margin: 0rem 1.08rem 0rem 0rem;
}
.field-tags:before {
  content: "î";
  position: relative;
  top: 2px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  margin: 1.3rem 0.054000000000000006rem 1.3rem 0rem;
}
.node-teaser ul.links {
  padding: 0rem 1.08rem 0rem 1.08rem;
  margin: 0;
  list-style: none;
  float: right;
  clear: both;
}
.node-teaser ul.links li {
  padding: 0rem 0rem 0.65rem 0rem;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
}
.staffbar > li > a {
  border: 1px solid;
  padding: 5px 10px;
  color: #006366;
}
.staffbar > li {
  padding-right: 10px;
}
.navbar {
  margin-bottom: 20px;
  min-height: 0px;
}
body.page-archive-search h1.page-header,
body.page-archive-item h1.page-header,
body.page-archive-tagcloud h1.page-header,
body.page-archive-term h1.page-header {
  display: none;
  visibility: hidden;
}
.navbar-default {
  background-color: #dfdfdf;
  border-color: #E7E7E7;
}
.navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color: #333;
}
.navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #777;
}
.navbar-form {
  padding-right: 0;
}
body.page-user-edit div#edit-account {
  display: none;
  visibility: hidden;
}
.radio input[type="radio"] {
  margin-left: 10px;
}
.radiohlp {
  display: inline-block;
  width: 230px;
}
ol.secondary {
  margin-left: 0;
}
@media (min-width: 1200px) {
  ol.secondary {
    margin-left: 14em;
  }
}
